* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
}

.navbar {
    background-color: #3941a0;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg);
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
}

.nav-links li a:hover {
    background-color: #34495e;
    border-radius: 5px;
}

.perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    gap: 50px;
    flex-wrap: wrap;
}

.perfil-img img {
    width: 250px;
    height: 250px;
    display: flex;
    object-fit: cover;
    border-radius: 50%;
    border: 8px solid #444;
    justify-content: center;
    flex-wrap: wrap;
}

.info {
    max-width: 600px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.typing {
    overflow: hidden;
    border-right: .15em solid #3941a0;
    white-space: nowrap;
    font-size: 1.9rem;
    width: 0;
    animation:
        typing 3s steps(20, end) infinite,
        blink .8s infinite;
}

.info h1 {
    font-size: 3rem;
    color: black;
    margin: 10px 0;
}

.info p {
    margin: 10px 0;
    line-height: 1.6;
}

.download {
    cursor: pointer;
    margin: 10px;
    padding: 10px 15px;
    display: inline-block;
    border: none;
    background-color: #3941a0;
    border-radius: 10px;
}

.download a {
    text-decoration: none;
    color: #fff;
    gap: 20px;
}

.download:hover {
    background-color: #45a049;
}

.titulos {
    text-align: center;
    font-size: 25px;
    margin-top: 120px;
    margin-bottom: 60px;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 10%;
    flex-wrap: wrap;
}

.card {
    border-radius: 12px;
    width: 300px;
    padding: 20px;
    border: 1px solid rgb(57, 65, 160);
}

.card-imagem {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 5px;
}

.card h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.card p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.card button {
    cursor: pointer;
    margin: 10px;
    padding: 10px 10px;
    background-color: #3941a0;
    border-radius: 5px;
    border: none;
}

.card button a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

@keyframes typing {
    from {
        width: 0%
    }

    to {
        width: 100%
    }
}